* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background: #222;
    cursor: none;
}

#cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-top: 5px solid #0f0;
    border-left: 5px solid #0f0;
    transform-origin: top;
    transform: rotate(15deg);
    filter: drop-shadow(0 0 15px #0f0) drop-shadow(0 0 35px #0f0);
}

.element {
    position: absolute;
    color: #0f0;
    font-size: 2em;
    width: 10px;
    height: 10px;
    pointer-events: none;
    transition: 1.5s;
}